.mapTooltipLeft{
    width: 120px;
    background-color: #171717;
    border: 1px solid #171717;
    border-radius: 4px;
    display: none;
    opacity: .7;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}        
.mapTooltipLeft:after {
    content: '';
    position: absolute;
    top: 45%;
    left: 0%;
    margin-left: -16px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;            
    border-right: 15px solid #171717; 
}
.mapTooltipHeader {
    background-color: #00777a;
    text-align: center;
    padding:5px;
    display: block;
    color: whitesmoke;
    border-radius: 3px;
    opacity: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mapTooltipValue {
    text-align: left;
    padding:5px;
    font-size:12px;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}